body {
  font-family: 'helvetica', 'arial', sans-serif;
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*background-color: #37FDFC;*/
  /*background-color: #facade;*/
  /*color: white;*/
}

.body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 30px;
  max-height: 30px;
}

canvas {
  /*background-color: rgb(255,255,255);*/
  border: 1px solid #facade;
  /*float: right;*/
/*  height: 500px;
  width: 500px;*/
  /*position: absolute;*/
}

#menu, #upload {
  position: absolute;
  width: 80px;
  margin-left: 100px;
  text-align: left;
  /*margin-left: 520px;*/
  /*margin-right: 0;*/
}

input {
  max-width: 70px;
}

#error {
  display: none;
}